* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
*:after {
    box-sizing: inherit;
}
*:before {
    box-sizing: inherit;
}

:focus:not(:focus-visible) {
  outline: none;
}

[disabled] {
  cursor: not-allowed;
}

[hidden] {
  display: none !important;
}

a {
  border: 0;
  color: inherit;
  margin: 0;
  padding: 0;
}
a:visited {
  color: inherit;
}

address {
  border: 0;
  margin: 0;
  padding: 0;
}

article {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

aside {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

audio {
  border: 0;
  margin: 0;
  padding: 0;
}

blockquote {
  border: 0;
  margin: 0;
  padding: 0;
  quotes: none;
}
blockquote:after {
  content: "";
  content: none;
}
blockquote:before {
  content: "";
  content: none;
}

body {
  border: 0;
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

canvas {
  border: 0;
  margin: 0;
  padding: 0;
}

caption {
  border: 0;
  margin: 0;
  padding: 0;
}

code {
  border: 0;
  margin: 0;
  padding: 0;
}

dd {
  border: 0;
  margin: 0;
  padding: 0;
}

details {
  border: 0;
  margin: 0;
  padding: 0;
}

div {
  border: 0;
  margin: 0;
  padding: 0;
}

dl {
  border: 0;
  margin: 0;
  padding: 0;
}

dt {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

figcaption {
  border: 0;
  margin: 0;
  padding: 0;
}

figure {
  border: 0;
  margin: 0;
  padding: 0;
}

footer {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

form {
  border: 0;
  margin: 0;
  padding: 0;
}

h1 {
  border: 0;
  margin: 0;
  padding: 0;
}

h2 {
  border: 0;
  margin: 0;
  padding: 0;
}

h3 {
  border: 0;
  margin: 0;
  padding: 0;
}

h4 {
  border: 0;
  margin: 0;
  padding: 0;
}

h5 {
  border: 0;
  margin: 0;
  padding: 0;
}

h6 {
  border: 0;
  margin: 0;
  padding: 0;
}

header {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;   
  border-top: 1px solid #cccccc;
  display: block;
  height: 1px;
  margin: 1rem 0;
  padding: 0;
}

html {
  border: 0;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  border-style: none;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

input {
  vertical-align: middle;
}

label {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  margin: 0;
  padding: 0;
}

li {
  border: 0;
  margin: 0;
  padding: 0;
}

main {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

nav {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  border: 0;
  margin: 0;
  padding: 0;
}

pre {
  border: 0;
  margin: 0;
  padding: 0;
}

q {
  border: 0;
  margin: 0;
  padding: 0;
  quotes: none;
}
q:after {
  content: "";
  content: none;
}
q:before {
  content: "";
  content: none;
}

section {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

select {
  vertical-align: middle;
}

span {
  border: 0;
  margin: 0;
  padding: 0;
}

summary {
  border: 0;
  margin: 0;
  padding: 0;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

tbody {
  border: 0;
  margin: 0;
  padding: 0;
}

td {
  border: 0;
  margin: 0;
  padding: 0;
}

tfoot {
  border: 0;
  margin: 0;
  padding: 0;
}

th {
  border: 0;
  margin: 0;
  padding: 0;
}

thead {
  border: 0;
  margin: 0;
  padding: 0;
}

tr {
  border: 0;
  margin: 0;
  padding: 0;
}

ul {
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

video {
  border: 0;
  margin: 0;
  max-width: 100%;
  padding: 0;
}